@{
    ViewBag.Title = "About";
}
<h2 style="color:white;">@ViewBag.Title - Magic English.</h2>

<div>
    <link href="~/Content/background.css" rel="stylesheet" />
    <h3 style="color:white;">
        <i>
            Magic English provides a range of English learning services. It gives instant access to private lessons with hundreds of patient and professional native English speaking tutors from Australia"
        </i>

    </h3>
</div>