@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title - Magic English.</h2>

<p>Magic English provides a range of English learning services. It gives instant access to private lessons with hundreds of patient and professional native English speaking tutors from Australia"</p>
