@{
    ViewBag.Title = "Contact";
}
<h2 style="color:white;">@ViewBag.Title - Mingxin Lyu</h2>

<link href="~/Content/background.css" rel="stylesheet" />
<address style="color:white;">
    Monash Campus<br />
    Clayton, Melbourne, VIC 3168<br />
    <abbr title="Phone">P:</abbr>
    0423931956
</address>

<address style="color:white;">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mlyu0008@student.monash.edu</a><br />
</address>