@{
    ViewBag.Title = "Home Page";
}

<div>
    <link href="~/Content/background.css" rel="stylesheet" />
    <h1 style="color:white;">
        <br /><br />
        Magic English
    </h1>
    <h3 style="color:white;">
        <i>
            The most magical way to learn English!
        </i>
  
    </h3>
</div>


<div class="row">
    <p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    </p>
    <div class="col-md-4">
        <h2 style="color:white;>Getting started</h2>
        <p style="color:white;>
            Magic English offers a wide variety of services from different
            levels. Students can book ahead of time with their favorite tutors
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:white;>Get more libraries</h2>
        <p style="color:white;>
            Magic English also provides many English learning materials that students can download and
            there will be some English online mock test.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>