@{
    ViewBag.Title = "Home Page";
}

<div>
    <link href="~/Content/background.css" rel="stylesheet" />
    <h1 style="color:white;">
        <br /><br />
        Magic English
    </h1>
    <h3 style="color:white;">
        <i>
            The most magical way to learn English!
        </i>

    </h3>
</div>


<div class="row">
    <p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    </p>
    <div class="col-md-4">
        <h2 style="color:white" ;>Getting started</h2>
        <p style="color:white" ;>
            Magic English offers a wide variety of services from different
            levels. Students can book ahead of time with their favorite tutors
        </p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="https://localhost:44315/Home/NeedRegister">Book Now &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" href="https://localhost:44315/Lectures/Index">Book Now &raquo;</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2 style="color:white" ;>Get more libraries</h2>
        <p style="color:white" ;>
            There are many different great tutors who can teach you a lot of English knowledge
        </p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="https://localhost:44315/Home/NeedRegister">Have a look &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" href="https://localhost:44315/Tutors/Index">Have a look &raquo;</a></p>
        }
    </div>
</div>