
@{
    ViewBag.Title = "NeedRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <link href="~/Content/background.css" rel="stylesheet" />
    <h1 style="color:white;">
        You need to login first
        <a class="btn btn-default" href="https://localhost:44315/Account/Login">Login &raquo;</a>
    </h1>
    <h1 style="color:white;">
        Don't hava an account? Register here!'
        <a class="btn btn-default" href="https://localhost:44315/Account/Register">Register &raquo;</a>
    </h1>

</div>